<div class="jumbotron">
  <h1><i class= "fa fa-circle-o-notch " ></i>Stukdo</h1>
  
  <p>Aplicação de gerenciamento de tarefas desenvolvimento com Ruby rails</p>
 
  <%= link_to'login', new_user_registration_path ,class:'btn btn-primary btn-lg'%>
</div>


